{% extends 'base.html' %}

{% block title %}"Области данных" - О проекте{% endblock %}

{% block content %}
<article class="post-container">
<h1 class="post-title">О проекте</h1>
<p class="post-content">Datarealms.ru — это информационно-аналитический ресурс, посвящённый управлению бизнес-процессами, работе с данными и аналитике. На сайте публикуются полезные материалы, подходы и практики, которые помогают выстраивать эффективные процессы и принимать решения на основе данных.</p>
<p class="post-content">Материалы будут полезны как начинающим, так и опытным специалистам, которые хотят систематизировать знания и переосмыслить знакомые темы.</p>
<p class="post-content">Если у вас есть предложения, вопросы или вы хотите поделиться своим опытом, пожалуйста, свяжитесь с нами по адресу: info@datarealms.ru</p>
</article>
{% endblock %}
