{% extends 'base.html' %}

{% load article_tags %}

{% block title %}"Области данных" - Все темы{% endblock %}

{% block content %}

<div class="tags-container">

    {% for group in category_tags %}
        <section class="tag-section">
            
            <h2><a href="{{ group.category.get_absolute_url }}">{{ group.category.name }}</a></h2>
            
            <ul>
                {% for tag in group.tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
                {% endfor %}
            </ul>

        </section>
    {% endfor %}

</div>

{% endblock %}